<!DOCTYPE html>
<html>
<head>


{% load staticfiles %}
<link rel="stylesheet" href="{% static "kids_gui/css/bootstrap.css " %}">

<script src="{% static "kids_gui/js/jquery-1.12.1.min.js "%}"></script>
  <script src="{% static "kids_gui/js/bootstrap.min.js " %}"></script>
<style>
#header {
    background-color:white;
    color:white;
    text-align:center;
    padding:40px 0px;        

}



#section {
    float:left;
    padding:10px;
}
#footer {
    background-color:#000050;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;	 	 
}
#main_content
{
    height: 500px;
}
</style>

</head>
<body>
<div style="width:100%">
	<div class="row" id="header">
		<div> <a href="/home/"> <img src="{% static "kids_gui/img/thales_logo.png " %}" alt="Home page" ></a></div>
	</div>



	<div id="main_content">
		{% block content %}

		{% endblock %}
	</div>
 
</div>

<div class="row" id="footer" style="padding:10px;">
  <div>2016 Thales Group</div>
</div>
</body>
</html>
