       
{% extends 'kids_gui/base.html' %}

{% block content %}

<style type="text/css">
.code_text
{
    font-size: large
	margin-left:190px
}
#option_1
{
    margin-left: 50px;
}

.code_bracket
{
    margin-left:50px
}

.code_else
{
    margin-left:80px
}

.code_comment
{
    margin-top:10px;
    margin-left:50px;
}
</style>
<form class="form-horizontal" role="form" method="post" action="" style="width:100%">
 			{% csrf_token %}
	
	<br>
	<br>
	
    <div class="form-group" style="padding:10px;margin-left: 25%;">
        <label for="name" style="font-size:200%;color:#000050;display:inline;">Name: </label>
        
            <input type="text" class="form-control" id="name" name="your_name" placeholder="Name" value="" style="display: block; width: 400px; height: 45px; padding: 6px 12px; font-size: 25px; line-height: 1.42857143; color: #000050; background-color: #fff; background-image: none; border: 1px solid #000050; border-radius: 4px; display: inline;"/>
       
    </div>

	<br>
	<br>
    
    <div style="font-weight:bold; font-size:260%; font-family:monospace; color:#006600; background-color:#FFFFFF;text-align: center;">// ### YOUR CODE STARTS HERE ### //</div>
	<br>
    
	<br>
	<br>

    <code style="margin-left: 25%;font-size:150%;color:#006600;font-weight:bold;font-family:monospace;background-color:#FFFFFF; display: inline;" >// Choose how far your robot can see.</code>
	<div style="padding:1% 0%; margin-left: 25%;width: 50%">
		<label for="max_dist" ><code style="font-size:200%;color:#e60000;font-weight:bold;font-family:monospace;background-color:#FFFFFF; display: inline;" >Maximum Distance</code>
		<code style="font-size:200%;color:#000066;font-weight:bold;font-family:monospace;background-color:#FFFFFF; display: inline;"> =</code></label> 
               
		<select id="max_dist" name="max_dist" style="display: block; width: 90px; height: 45px; padding: 6px 12px; font-weight: bold; font-size: 200%; font-family:monospace; line-height: 1.42857143; color: #000066; background-color: #fff; background-image: none; border: 1px solid #ccc; border-radius: 4px; display: inline;">
			<option>10</option>
		  	<option>20</option>
		  	<option>30</option>
		  	<option>40</option>
		  	<option>50</option>
		  	<option>60</option>
		  	<option>70</option>
		  	<option>80</option>
		  	<option>90</option>
		</select>
		     
    </div>

	<br>
	<br>
    	
	<div style="background-color:#b3e6ff;padding:2% 2%;margin-left: 23%; width: 56%">
		
		<code style="font-size:150%;color:#006600;font-weight:bold;font-family:monospace;background-color:#b3e6ff; display: inline;" >// Choose if the LEFT_SENSOR controls the wheel when it sees<br></code>
		<code style="font-size:150%;color:#006600;font-weight:bold;font-family:monospace;background-color:#b3e6ff; display: inline;" >// something (ON) or when it sees nothing (OFF).<br></code>
    	
		<br>
		<br>
		
		<div>
			<label for="arg_1"><code style="font-size:200%;color:#000066;font-weight:bold;font-family:monospace;background-color:#b3e6ff; display: inline;">if  </code>
			<code style="font-size:200%;color:#e60000;font-weight:bold;font-family:monospace;background-color:#b3e6ff; display: inline;">LEFT_SENSOR</code>
			<code style="font-size:200%;color:#000066;font-weight:bold;font-family:monospace;background-color:#b3e6ff; display: inline;"> =</code><br></label> 
			
        
				<select id="arg_1" name="left_sensor" style="display: block; width: 100px; height: 45px; padding: 6px 12px; font-weight: bold; font-size: 200%; font-family:monospace; line-height: 1.42857143; color: #000066; background-color: #ffffff; background-image: none; border: 1px solid #ccc; border-radius: 4px; display: inline;">
					<option>ON</option>
					<option>OFF</option>
				</select>
        
		
			<label for="arg_1"><code style="font-size:200%;color:#000066;font-weight:bold;font-family:monospace;background-color:#b3e6ff; display: inline;">then</code><br>
		
		</div>

		<div>
			<code style="font-size:200%;color:#000066;font-weight:bold;font-family:monospace;background-color:#b3e6ff;">{</code>
		</div>
		
		<div style="background-color:#66ccff;padding:2%;margin-left:5%; width: 90%;">
	
			<div>
				<code style="font-size:150%;color:#006600;font-weight:bold;font-family:monospace;background-color:#66ccff; display: inline;" >//Should the LEFT_WHEEL move FORWARD or BACKWARD?</code>    
			</div>	
			
			<br>

			<div>
				<code style="font-size:200%; color:#e60000; font-weight:bold; font-family:monospace; background-color:#66ccff; display:inline;">LEFT_WHEEL</code>
				<code style="font-size:200%; color:#000066; font-weight:bold; font-family:monospace; background-color:#66ccff; display:inline;"> =</code>
				<select name="left_wheel_1" style="display:block; width:185px; height:45px; padding:6px 12px; font-weight:bold; font-size:200%; font-family:monospace; line-height:1.42857143; color:#000066; background-color:#fff; background-image:none; border:1px solid #ccc; border-radius:4px; display:inline;">
					<option>FORWARD</option>
					<option>BACKWARD</option>
				</select>
			</div>

		</div>	
			
		<div>
			<code style="font-size:200%;color:#000066;font-weight:bold;font-family:monospace;background-color:#b3e6ff;">}</code>
			<br>
			<code style="font-size:200%;color:#000066;font-weight:bold;font-family:monospace;background-color:#b3e6ff; display: inline;">else  </code>
			<br>
			<code style="font-size:200%;color:#000066;font-weight:bold;font-family:monospace;background-color:#b3e6ff;">{</code>
		</div>
    
		<div style="background-color:#66ccff;padding:2%;margin-left:5%; width: 90%;">
	
			<div>
				<code style="font-size:150%;color:#006600;font-weight:bold;font-family:monospace;background-color:#66ccff; display: inline;" >//Should the LEFT_WHEEL move FORWARD or BACKWARD?</code>    
			</div>	
			
			<br>

			<div>
				<code style="font-size:200%; color:#e60000; font-weight:bold; font-family:monospace; background-color:#66ccff; display:inline;">LEFT_WHEEL</code>
				<code style="font-size:200%; color:#000066; font-weight:bold; font-family:monospace; background-color:#66ccff; display:inline;"> =</code>
				<select name="left_wheel_1" style="display:block; width:185px; height:45px; padding:6px 12px; font-weight:bold; font-size:200%; font-family:monospace; line-height:1.42857143; color:#000066; background-color:#fff; background-image:none; border:1px solid #ccc; border-radius:4px; display:inline;">
					<option>FORWARD</option>
					<option>BACKWARD</option>
				</select>
			</div>

		</div>		
			
		<div>
			<code style="font-size:200%;color:#000066;font-weight:bold;font-family:monospace;background-color:#b3e6ff;">}</code>
		</div>

	</div>	
	
	<br>
	<br>
	<br>
		
	<div style="background-color:#b3e6ff;padding:2% 2%;margin-left: 23%; width: 56%">
		
		<code style="font-size:150%;color:#006600;font-weight:bold;font-family:monospace;background-color:#b3e6ff; display: inline;" >// Choose if the RIGHT_SENSOR controls the wheel when it sees <br></code>
		<code style="font-size:150%;color:#006600;font-weight:bold;font-family:monospace;background-color:#b3e6ff; display: inline;" >// something (ON) or when it sees nothing (OFF).<br></code>
    	
		<br>
		<br>
		
		<div>
			<label for="arg_1"><code style="font-size:200%;color:#000066;font-weight:bold;font-family:monospace;background-color:#b3e6ff; display: inline;">if  </code>
			<code style="font-size:200%;color:#e60000;font-weight:bold;font-family:monospace;background-color:#b3e6ff; display: inline;">RIGHT_SENSOR</code>
			<code style="font-size:200%;color:#000066;font-weight:bold;font-family:monospace;background-color:#b3e6ff; display: inline;"> =</code><br></label> 
			
        
				<select id="arg_1" name="left_sensor" style="display: block; width: 100px; height: 45px; padding: 6px 12px; font-weight: bold; font-size: 200%; font-family:monospace; line-height: 1.42857143; color: #000066; background-color: #ffffff; background-image: none; border: 1px solid #ccc; border-radius: 4px; display: inline;">
					<option>ON</option>
					<option>OFF</option>
				</select>
        
		
			<label for="arg_1"><code style="font-size:200%;color:#000066;font-weight:bold;font-family:monospace;background-color:#b3e6ff; display: inline;">then</code><br>
		
		</div>

		<div>
			<code style="font-size:200%;color:#000066;font-weight:bold;font-family:monospace;background-color:#b3e6ff;">{</code>
		</div>
		
		<div style="background-color:#66ccff;padding:2%;margin-left:5%; width: 90%;">
	
			<div>
				<code style="font-size:150%;color:#006600;font-weight:bold;font-family:monospace;background-color:#66ccff; display: inline;" >//Should the RIGHT_WHEEL move FORWARD or BACKWARD?</code>    
			</div>	
			
			<br>

			<div>
				<code style="font-size:200%; color:#e60000; font-weight:bold; font-family:monospace; background-color:#66ccff; display:inline;">RIGHT_WHEEL</code>
				<code style="font-size:200%; color:#000066; font-weight:bold; font-family:monospace; background-color:#66ccff; display:inline;"> =</code>
				<select name="left_wheel_1" style="display:block; width:185px; height:45px; padding:6px 12px; font-weight:bold; font-size:200%; font-family:monospace; line-height:1.42857143; color:#000066; background-color:#fff; background-image:none; border:1px solid #ccc; border-radius:4px; display:inline;">
					<option>FORWARD</option>
					<option>BACKWARD</option>
				</select>
			</div>

		</div>	
			
		<div>
			<code style="font-size:200%;color:#000066;font-weight:bold;font-family:monospace;background-color:#b3e6ff;">}</code>
			<br>
			<code style="font-size:200%;color:#000066;font-weight:bold;font-family:monospace;background-color:#b3e6ff; display: inline;">else  </code>
			<br>
			<code style="font-size:200%;color:#000066;font-weight:bold;font-family:monospace;background-color:#b3e6ff;">{</code>
		</div>
    
		<div style="background-color:#66ccff;padding:2%;margin-left:5%; width: 90%;">
	
			<div>
				<code style="font-size:150%;color:#006600;font-weight:bold;font-family:monospace;background-color:#66ccff; display: inline;" >//Should the RIGHT_WHEEL move FORWARD or BACKWARD?</code>    
			</div>	
			
			<br>

			<div>
				<code style="font-size:200%; color:#e60000; font-weight:bold; font-family:monospace; background-color:#66ccff; display:inline;">RIGHT_WHEEL</code>
				<code style="font-size:200%; color:#000066; font-weight:bold; font-family:monospace; background-color:#66ccff; display:inline;"> =</code>
				<select name="left_wheel_1" style="display:block; width:185px; height:45px; padding:6px 12px; font-weight:bold; font-size:200%; font-family:monospace; line-height:1.42857143; color:#000066; background-color:#fff; background-image:none; border:1px solid #ccc; border-radius:4px; display:inline;">
					<option>FORWARD</option>
					<option>BACKWARD</option>
				</select>
			</div>

		</div>		
			
		<div>
			<code style="font-size:200%;color:#000066;font-weight:bold;font-family:monospace;background-color:#b3e6ff;">}</code>
		</div>

	</div>	
	
	<br>
	<br>
	<br>
  
    <div style="text-align: center;">
        <div style="padding:0px 325px;">
            <input id="submit" name="submit" type="submit" value="Compile your code!" style="border-radius: 10px; border: 5px solid #b3e6ff; padding:3px 10px;font-size:200%;color:#FFFFFF;font-weight:bold;font-family:monospace;background-color:#000050;">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
            <! Will be used to display an alert to the user>
        </div>
    </div>
</form>

{% endblock %}


