
            
{% extends 'kids_gui/base.html' %}

{% block content %}
<style type="text/css">
    
#level_menu
{
    text-align: center;
    margin-top: 200px;
    margin-left: 250px;
}

</style>
<!-- Single button -->


<div class="btn-group" id="level_menu">
  <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Levels <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="/home/2">Level1</a></li>
    <li><a href="/home/2">Level2</a></li>
  </ul>
</div>



{% endblock %}
